/* eyes */
@keyframes blink {
  50% {
    ry: 0.1
  }
}
.blink {
  animation: blink 2s infinite;
}
/* mouth */
@keyframes scaler {
  30% {
    transform: scale(0.4)
  }
  50% {
    transform: scale(0.7)
  }
  70% {
    transform: scale(0.5)
  }
}
.talk {
  animation: scaler 1s infinite alternate;
}
#speaker {
  transform-origin: 50% 50%;
}
/* cheeks */
.swell {
  animation: scaler 3s infinite;
}
#cheek1 {
  transition: all 0.2s;
  transform-origin: right center;
}
#cheek2 {
  transition: all 0.2s;
  transform-origin: left center;
}
/* nose */
@keyframes wiggle {
  0% {
    transform: rotate(0deg)
  }
  25% {
    transform: rotate(10deg)
  }
  75% {
    transform: rotate(-10deg)
  }
  100% {
    transform: rotate(0deg)
  }
}
.wiggle {
  animation: wiggle 1s linear infinite;
}
#nose {
  transform-origin: center bottom;
}
/* legs */
@keyframes walk {
  0% {
    transform: rotate(-10deg)
  }
  50% {
    transform: rotate(20deg)
  }
  100% {
    transform: rotate(-10deg)
  }
}
#legs > path {
  transform-origin: 0% 0%;
}
#bleg1 {
  transform: rotate(10deg);
}
#legs.walk #bleg1 {
  animation: walk 1s ease infinite reverse;
}
#bleg2 {
  transform: rotate(-10deg);
}
#legs.walk #bleg2 {
  animation: walk 1s ease 0.35s infinite;
}
#fleg1 {
  transform: rotate(10deg);
}
#legs.walk #fleg1 {
  animation: walk 1s ease 0.3s infinite reverse;
}
#fleg2 {
  transform: rotate(-10deg);
}
#legs.walk #fleg2 {
  animation: walk 1s ease 0.65s infinite;
}